<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="../css/main.css">
  
  </head>


  <body>
    <nav style="background-color:black;">
<ul>
  <hr>
<li><a href="../" style="color: white">Home</a></li>
<li><a href="../Education/index.html" style="color: white">Education</a></li>
<li><a href="../Research/index.html" style="color: white">Research</a></li>
<li><a href="../Teaching/index.html" style="color: white">Teaching</a></li>
<!--<li><a href="../CV/index.html">CV</a></li>-->
  <hr>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:ghazanajad@gmail.com">email</a></li>
   <li><a href="https://github.com/MathBioInfo" target="_blank">github.com/mathbioinfo</a></li>
     <li><a href="https://scholar.google.com/citations?user=2z2SKAUAAAAJ&hl=en" target="_blank">Google Scholar</a></li>
   </ul>
  </footer>
  </body>

</html>
