<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/Education/index.html">Education</a></li>
	        		<li><a href="/Research/index.html">Research</a></li>
	        		<li><a href="/Teaching/index.htmal">Teaching</a></li>
              <li><a href="/CV">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
